# Entornos virtuales de Python
.venv/
venv/
env/
ENV/

# Archivos de compilación y caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Caché de Testing (Pytest)
.pytest_cache/
.coverage
htmlcov/

# Bases de datos locales (SQLite)
*.sqlite
*.sqlite3
*.db

# Variables de entorno secretas
.env

# Carpetas de editores y sistema operativo
.vscode/
.idea/
.DS_Store